body
{

color:#1abc9c;
text-align: center;
font-family: "arial";


}
#container
{
width: 70%;
text-align: left;
border: 1px solid #ddd;
position: absolute;
right: 200px;
}

#container h1
{
    font-size: 20px;
}



#cabecera {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 50px;
  }

  #im{
      width: 40px;
    
  }

  #tagline
  {
      font-family: monospace;
      font-size: 50px;
  }

  #footer{

    width: 100%;
    background-color:rgb(216, 215, 215);
    text-align: center;

}